@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rowdies", cursive;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: hsl(0, 0%, 85%);
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.about-header .container {
  margin-top: 10px;
}

.navbar {
  background-color: hsl(0, 0%, 25%);
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-size: bold;
  color: hsl(0, 100%, 70%);
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: hsl(0, 100%, 70%);
}

.navbar a:hover {
  color: hsl(0, 100%, 20%);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color: hsl(0, 100%, 20%);
  color: hsl(0, 0%, 95%);
  min-height: 400px;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.header p {
  font-size: 1.25rem;
}

.header img {
  max-width: 400px;
  max-height: 400px;
  margin-top: 25px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  flex: 1;
  background: hsl(0, 100%, 20%);
  color: hsl(0, 0%, 70%);
  border-radius: 10px;
  margin: 20px 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.about-box img {
  object-fit: cover;
  max-width: 250px;
  max-block-size: 250px;
  border-radius: 25%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box h2 {
  color: hsl(0, 0%, 95%);
  text-decoration: underline;
}

.about-box {
  flex: 1;
  background: hsl(0, 100%, 20%);
  color: hsl(0, 3%, 85%);
  border-radius: 10px;
  margin: 20px 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}

 .about-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header h1 {
  text-decoration: underline;
  color: hsl(0, 100%, 20%);
}

.names {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .about-box {
    display: block;
    text-align: center;
    min-width: 450px;
  }




}
